* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #21222A;
    /* 30px on top and bottom, 25 px on left and right */
    padding: 30px 25px;
    height: 90px;
}

.element {
    display: flex;
}

.nav--logo_text, .nav--title {
    margin: 0;
}

.nav--logo_text {
    margin-right: auto;
    color: #61DAFB;
    font-family: Inter;
    letter-spacing: -0.02em;
    font-size: x-large;
    font-weight: 900;
}

.nav--title {
    font-weight: 900;
    color: #DEEBF8;
}


.logo {
    width: 80px;
    margin-right: -2px;
}
